{% for item in items if not item.viewBag.isHidden %}
    <li  class="mv1 flex-shrink-0"><!---->
        {% if item.url %}
            <a href="{{ item.url }}"  class="{{ item.isActive ? 'bg-secondary text-black' : 'text-white' }} inline-block sm:py-2 px-2 py-1 rounded-full sm:mr-2 mr-1 hover:bg-secondary hover:text-black  no-underline">
                {{ item.title }}
            </a>
        {% else %}
            <span class="bg-orange text-black sm:px-2 px-1 py-1 br-pill link mr2-ns mr-1 hover:bg-secondary hover:text-black  ">
                {{ item.title }}
            </span>
        {% endif %}
    </li>
{% endfor %}
