<h4 class="mb-4 pl-8">
    <a >{{ result.title | raw }}</a>
    {% if __SELF__.showProviderBadge %}
        <span class="float-right text-xs bg-smoke-light px-3 py-2 rounded ml-8 mb-8">
            {{ result.provider }}
        </span>
    {% endif %}
</h4>

<p class="text-sm pl-8 mb-4">
    {{ result.excerpt | raw }}
</p>

<button data-product="{{ result.model.productHashId }}"
        data-variant="{{ result.model.variantHashId }}"
        class="ml-8 js-mall-add-product order-2 sm:order-1 w-32 bg-secondary text-center text-black p-3 border-none rounded-full cursor-pointer"
>
    {{ 'offline.mall::frontend.cart.add' | trans }}
</button>
