
<footer class="flex justify-center items-center my-5">
    <div class="max-w-6xl w-full mx-auto px-4 dark:bg-black bg-secondary flex lg:flex-row flex-col items-center justify-center">
        <!-- Лого -->
        <a href="/{{ activeLocale }}" class=" mb-3 pb-2 lg:mb-0 lg:pb-0">
           {% partial "svg/logo" %}
        </a>

        <!-- Телефоны -->
        <div class=" lg:ml-4 lg:pl-3 flex flex-col">

            {% for phone in this.page.phones %}
                <div class="flex items-center mb-2">
                    <div class="mr-2">
                        {% partial "svg/phone" %}
                    </div>
                    {% partial "links/phone" phone=phone %}
                </div>
            {% endfor %}

            <div class="flex items-center mb-2">
                <div class="mr-2 ">
                    {% partial "svg/instagram" %}
                </div>
                {% partial "links/instagram" %}
            </div>


        </div>




    </div>


</footer>
