<header class="header py-4 lg:py-5">

    <div class="drawer-nav border-l border-secondary dark:bg-black bg-secondary dark:text-white text-black z-20" role="navigation">

        <div class="p-3 ">
            <div class="pr-3 flex flex-col items-end">
                <div class="px-3">
                    {% component 'localePicker' %}
                </div>
                {% partial 'topmenu' code='top' %}
            </div>

            <!-- Телефоны -->
            <div class="mt-3 w-full flex flex-col justify-center text-right">
                {% for phone in this.page.phones %}
                <div class="flex items-center justify-end mb-2">
                    <div class="mr-2">
                        {% partial "links/phone" phone=phone %}
                    </div>
                    <div class="">
                        {% partial "svg/phone" %}
                    </div>
                </div>
                {% endfor %}
                <div class="flex items-center justify-end mb-2">
                    <div class="mr-2">
                        {% partial "links/instagram" %}
                    </div>
                    <div class="">
                        {% partial "svg/instagram" %}
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="w-full max-w-6xl px-4 mx-auto flex lg:justify-end">
        <div id="toggleDarkMode" style="width:30px;height:auto">
            {% partial "svg/darkMode" %}
        </div>
    </div>
    <div class="w-full max-w-6xl px-4 mx-auto flex justify-between">
        <button type="button" class="drawer-toggle drawer-hamburger lg:hidden-important dark:bg-black bg-secondary  focus:outline-none" >
            <span class="sr-only">toggle navigation</span>
            <span class="drawer-hamburger-icon white"></span>
        </button>
        <a href="{{ 'index' | page }}" class="block">
            {% partial "svg/logo" %}
        </a>
        <div class="hidden lg:block">
            {% partial 'spots' spots = this.page.spots  %}
        </div>



        <div class="hidden lg:flex items-center">
            {% partial 'topmenu' code='top' %}
            {% component 'localePicker' %}
        </div>

    </div>
    <div class="max-w-6xl w-full px-4 mx-auto flex relative">
        <div class="w-full flex relative">
            <div class="flex flex-col ">
                <div class="flex flex-col lg:flex-row">
                    <div class="mt-4 lg:hidden">
                        {% partial 'spots' spots = this.page.spots class='dark:text-white text-black' %}
                    </div>
                    <div>
                        <p class="my-4">
                            <span class="dark:text-secondary text-black">Время работы:</span> {{ '10:00-23:00' | _ }}
                        </p>
                    </div>
                </div>
                {% partial "phones" %}
            </div>
            <div class="absolute h-auto" style="right:0; bottom:0">
                <form class="search-bar
             flex items-center
             h-auto  outline-none
             rounded-full
             dark:bg-black bg-secondary dark:text-white text-black border dark:border-secondary border-black overflow-hidden" method="get" action="{{ 'search' | page }}"
                      autocomplete="off">
                    <input name="q"
                           type="text"
                           class="search-bar__input placeholder-current dark:text-white text-black outline-none p-2 flex-grow bg-transparent border-none"
                           placeholder="{{ 'offline.mall::frontend.search' | trans }}" value="{{ query }}">

                    <button class="search-bar__submit border-none bg-secondary rounded-full " type="submit">
                        <svg width="20" height="20" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill="black" d="M6.97073 0C10.8144 0 13.9415 3.12707 13.9415 6.97073C13.9415 8.65403 13.3417 10.1998 12.3447 11.4058L17 16.0611L16.0611 17L11.4058 12.3447C10.1998 13.3417 8.65403 13.9415 6.97073 13.9415C3.12707 13.9415 0 10.8144 0 6.97073C0 3.12707 3.12704 0 6.97073 0ZM6.97073 12.6137C10.0823 12.6137 12.6137 10.0823 12.6137 6.97073C12.6137 3.8592 10.0823 1.32776 6.97073 1.32776C3.8592 1.32776 1.32776 3.8592 1.32776 6.97073C1.32776 10.0823 3.8592 12.6137 6.97073 12.6137Z" ></path>
                        </svg>
                    </button>
                </form>
            </div>
        </div>

    </div>


</header>


{% put scripts %}
    <script>
        $('.drawer').drawer();
    </script>
{% endput %}
