
<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="{{ this.page.meta_description }}">
<link rel="icon" href="{{ '/favicon.ico' | app }}" />
<title>{{ this.page.title }}</title>

<link rel="stylesheet" href="{{ ['assets/main.css'] | theme }}">
<script src="{{ ['@jquery'] | theme }}"></script>

<script src="{{ 'assets/js/theme.js' | theme }}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" integrity="sha512-H9jrZiiopUdsLpg94A333EfumgUBpO9MdbxStdeITo+KEIMaNfHNvwyjjDJb+ERPaRS6DpyRlKbvPUasNItRyw==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/themes/oc-mall-theme-master/assets/libs/drawer/drawer.css"  />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

