
<!-- Телефоны -->
<div  class="w-full lg:flex hidden text-right mr-2">
    {% for phone in this.page.phones %}
    <div class="flex items-center mr-2  mb-2">
        <div class="mr-2 ">
            {% partial "svg/phone" %}
        </div>
        {% partial "links/phone" phone=phone %}
    </div>
    {% endfor %}

    <div class="flex items-center mb-2">
        <div class="mr-2">
            {% partial "svg/instagram" %}
        </div>
        {% partial "links/instagram" %}
    </div>

</div>
