<div class="flex flex-col relative cursor-pointer"
     x-data="dropdown()"
     x-init='activeSpotId = {{ this.page.activeSpotId }};
            spots = {{ this.page.spots|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw }};getActiveSpot()'
     x-on:click="open()"
     x-on:click.away="close()"  >
    <span class="text-xs font-light {{ class }}">Откуда вы?</span>
    <span class="flex items-center">
                <span class="text-2xl font-bold mr-2 {{ class }}" x-text="getActiveSpot()">{{ this.page.activeSpotName }}</span>
                <span class="border-4 border-transparent" style="border-top-color: {{ class == 'text-white' ? 'white': 'black' }}"></span>
            </span>
    <div x-cloak class="absolute z-40 bottom-full" x-show="show">
        <div class="flex flex-col items-center">
            <span class="border-8 border-transparent" style="border-bottom-color: white"></span>
            <form method="post" x-ref="spotForm" class="p-4 bg-white rounded">
                <input :value="activeSpotId" type="hidden" name="spot" >
                <template x-for="item in spots" :key="item">
                    <div :class="{ 'font-bold': item.id === activeSpotId }"
                         x-on:click.stop="changeSpot(item.id)"
                         class="text-black" x-text="item.name"></div>
                </template>
            </form>
        </div>


    </div>



</div>
