description = "Default"

[cart]
showDiscountApplier = 1
showTaxes = 1

[mallDependencies]

[session]
security = "all"

[staticPage]
useContent = 1
default = 0

[currencyPicker]

[localePicker]
forceUrl = 1

[enhancedEcommerceAnalytics]

==



use Lovata\BaseCode\Classes\Helper\Utils;

function onStart() {
    $info = Utils::handleBranches();

    $this->page['spots'] = $info['spots'];
    $this->page['phones'] = $info['phones'];
    $this->page['activeSpotName'] = $info['activeSpotName'];
    $this->page['activeSpotId'] = $info['activeSpotId'];
    $this->page['query'] = input('q');




    $this->page['shop_is_closed'] = Utils::checkWorkingHours();
}


==
<!doctype html>
<html lang="en" class="dark">
<head>
    {% partial 'head' %}
    {% styles %}
    {% component 'enhancedEcommerceAnalytics' %}
    {% component 'mallDependencies' %}

</head>
<body class="min-h-screen flex flex-col justify-between bg-secondary text-black dark:bg-black dark:text-white drawer drawer--right relative">
{% partial 'header'  %}
{% partial 'navigation' code='main'%}

<main class="flex-grow max-w-6xl w-full mx-auto py-8">
    {% page %}
</main>

{% partial 'footer' %}

{% partial 'cartmodal' %}

{% partial 'spinner' %}

{% partial 'spotmodal' %}

<script src="{{ 'assets/app.js' | theme }}"></script>

{% framework extras %}
{% scripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" integrity="sha512-uURl+ZXMBrF4AwGaWmEetzrd+J5/8NRkWAvJx5sbPSSuOb0bZLqf+tOzniObO00BjHa/dD7gub9oCGMLPQHtQA==" crossorigin="anonymous"></script>
<script src="{{ 'assets/js/spotDropdown.js' | theme }}"></script>
<script src="{{ 'assets/js/workingHoursChecker.js' | theme }}"></script>
<script src="{{ 'assets/js/scripts1.js' | theme }}"></script>
<script src="{{ 'assets/js/cart.js' | theme }}"></script>



{% if this.page.shop_is_closed %}
    <script>
        Swal.fire({
            title: 'Ресторан закрыт!',
            text: 'Заказы принимаются с 10:00 до 22:30',
            icon: 'warning',
            confirmButtonText: 'Ок'
        })
    </script>
{% endif %}


{% flash %}
    <script>
        $(function() {
            $.oc.flashMsg({type: '{{ type }}', text: '{{ message }}'})
        })
    </script>
{% endflash %}
</body>
</html>
