description = "Default"

[cart]
showDiscountApplier = 1
showTaxes = 1

[mallDependencies]

[session]
security = "all"

[staticPage]
useContent = 1
default = 0

[currencyPicker]

[localePicker]
forceUrl = 1

[enhancedEcommerceAnalytics]
==
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ this.page.meta_description }}">
    <title>{{ this.page.title }}</title>
    {% styles %}
    <link rel="stylesheet" href="{{ ['assets/main.css'] | theme }}">
    <script src="{{ ['@jquery'] | theme }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css"  crossorigin="anonymous" />
    {% component 'enhancedEcommerceAnalytics' %}
    {% component 'mallDependencies' %}
</head>
<body class="bg-black text-white drawer drawer--right relative">
{% partial 'header' %}
{% partial 'navigation' %}

<main class="max-w-6xl w-full mx-auto py-8">
    {% page %}
</main>

{% partial 'footer' %}
<div id="js-mall-cart" class="hidden-wrapper hidden-wrapper--no-gap mfp-hide">
    {% partial 'cart' %}
</div>

<script src="{{ 'assets/app.js' | theme }}"></script>
{% framework extras %}
{% scripts %}
<script>
    $('.js-mfp-inline').magnificPopup({
        type:'inline',
        removalDelay: 300,
        fixedContentPos: false,
        fixedBgPos: true,
        mainClass: 'zoom-in',
        midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
    });


    $(function () {
        var $body = $('body');
        $$update = {'cart': '.js-mall-cart'};

        if($('#quickCheckout').length){
            $$update = { ...$$update, 'quickCheckout::cart': '.js-mall-cart-checkout' }
        }

        $.subscribe('mall.discount.applied', refreshCart);
        $.subscribe('mall.cart.update', refreshCart);
        $.subscribe('mall.shipping.update', refreshCart);
        $.subscribe('mall.address.update', refreshCart);
        //$.subscribe('mall.cart.productAdded', refreshCart);

        function refreshCart () {
            $.request('cart::onRun', {
                update: $$update
            })
        }


        var $count = $('.mall-cart-count');
        $.subscribe('products.cart.productAdded', function (e, data) {
            $count.removeClass('invisible').text(data.new_items_count).show();
        });
        $.subscribe('mall.cart.productRemoved', function (e, data) {
            $count.text(data.new_items_count);
        });




        $body.on('change', '.js-mall-quantity', function () {
            $.request('cart::onUpdateQuantity', {
                data: {id: this.dataset.id, quantity: this.value},
                update: $$update,
                loading: $.oc.stripeLoadIndicator,
                flash: true,
                success: function (data) {
                    this.success(data)
                    $.publish('mall.cart.update', data)
                },
                handleFlashMessage: function (message, type) {
                    $.oc.flashMsg({text: message, class: type})
                }
            })
        });


        $body.on('click', '.js-mall-add-product', function () {
            $.request('products::onAddToCart', {
                data: {product: this.dataset.product, variant: this.dataset.variant},
                update: $$update,
                loading: $.oc.stripeLoadIndicator,
                flash: true,
                success: function (data) {
                    this.success(data)
                    $.publish('mall.cart.update', data)
                    $.publish('products.cart.productAdded', data)
                },
                handleFlashMessage: function (message, type) {
                    $.oc.flashMsg({text: message, class: type})
                }
            })
        });

        $body.on('click', '.js-mall-remove-product', function () {
            $.request('cart::onRemoveProduct', {
                data: {id: this.dataset.id},
                update: $$update,
                loading: $.oc.stripeLoadIndicator,
                success: function (data) {
                    this.success(data)
                    $.publish('mall.cart.update', data)
                    $.publish('mall.cart.productRemoved', data)
                }
            })
        });


        $body.on('click', '.js-wcart-item__remove-notice-open', function(){
            console.log('clicked');
            $(this).closest('.js-wcart-item').addClass('is-notice');
        });
        $body.on('click', '.js-wcart-item__remove-notice-close', function(){
            $(this).closest('.js-wcart-item').removeClass('is-notice');
        });

        $body.on('click', '.js-wcart-item__collapse-toggle', function(){
            $(this).closest('.js-wcart-item').toggleClass('is-opened');
        });

        $body.on('click', '.js-wcart-spinner__increment', function(){
            console.log('click');
            let $input = $(this).parent().find('.js-wcart-spinner__quantity');
            let $currVal = parseInt($input.val());
            $input.val($currVal + 1);
            $input.trigger('change');
        });

        $body.on('click', '.js-wcart-spinner__decrement', function(){
            let $input = $(this).parent().find('.js-wcart-spinner__quantity');
            let $currVal = parseInt($input.val());
            if($currVal < 2){
                return;
            }
            $input.val($currVal - 1);
            $input.trigger('change');
        });

    })

</script>
{% flash %}
    <script>
        $(function() {
            $.oc.flashMsg({type: '{{ type }}', text: '{{ message }}'})
        })
    </script>
{% endflash %}
</body>
</html>
