@tailwind base;
@tailwind components;

@responsive {
    .hidden-important{
        display:none!important;
    }
}


@variants hover {
    .underline {
        text-decoration: underline;
    }
}

[x-cloak] {
    display: none;
}

.main-background {
    color: #F8CE46;
}


.mcs-horizontal-example{
    width: 100%;
    overflow-x: auto;
    display: -webkit-flex; display: flex;
    -webkit-flex-direction: row; flex-direction: row;
}

.mcs-horizontal-example .mCSB_container{
    display: -webkit-flex; display: flex;
}

.mcs-horizontal-example .item{
    -webkit-flex-shrink: 0; flex-shrink: 0;
}

.mcs-horizontal-example .mCSB_container {
    margin-bottom: 17px!important;
}



@import 'components/forms';

//@import 'components/buttons';
//@import 'components/typography';
//@import 'components/tables';
//@import 'components/callouts';
//@import 'components/switcher';
//@import 'components/navigation';
//@import 'components/layout';
//
@import 'mall/cart';
@import 'mall/cart-popup.scss';
@import 'mall/popup.scss';
//@import 'mall/cartsummary';
//@import 'mall/loader';
@import 'mall/pagination';
//@import 'mall/product';
//@import 'mall/products';
@import 'mall/productsfilter';
//@import 'mall/signup';
//@import 'mall/paymentmethodselector';
//@import 'mall/shippingselector';
//@import 'mall/addressselector';
//@import 'mall/addresslist';
//@import 'mall/checkout';
//@import 'mall/quickcheckout';
//@import 'mall/myaccount';
//@import 'mall/orderslist';
//@import 'mall/wishlists';
//@import 'mall/reviews';
//@import 'mall/modal';

@tailwind utilities;

@layer utilities {
    @variants dark {
        .border-l-transparent {
            border-left-color: transparent;
        }
        .border-b-transparent {
            border-bottom-color: transparent;
        }
        .border-r-transparent {
            border-right-color: transparent;
        }
        .border-top-black {
            border-top-color: black;
        }
        .border-t-white {
            border-top-color: white;
        }

        .border-r-black {
            border-right-color: black;
        }

        .border-l-secondary {
            border-left-color: #F8CE46;
        }
        .border-b-secondary {
            border-bottom-color: #F8CE46;
        }
        .border-r-secondary {
            border-right-color: #F8CE46;
        }
        .border-t-secondary {
            border-top-color: #F8CE46;
        }
    }
}
